{% extends "layout.html" %}

{% block scripts %} <script src="/static/change_master_password.js"></script> {% endblock %}

{% block title %} Change Master Password {% endblock %}

{% block main %}
    <form action="/change_master_password" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="previous_master_password" name="previous_master_password" placeholder="Previous master pasword" type="password">
        </div>
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="new_master_password" name="new_master_password" placeholder="New master password" type="password">
        </div>
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="confirmation" name="confirmation" placeholder="Confirm" type="password">
        </div>
        <div class="form-check mb-3">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" style="float:none";>
            <label class="form-check-label" for="flexCheckDefault">
                Show password
            </label>
        </div>
        <button class="btn btn-primary" type="submit">Change Master Password</button>
    </form>
{% endblock %}
