{% extends "layout.html" %}

{% block styles %} <link href="../static/styles.css" rel="stylesheet"></link> {% endblock %}

{% block scripts %} <script src="../static/index.js"></script> {% endblock %}

{% block title %} Vault {% endblock %}

{% block main %}
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th class="text-start">Domain</th>
                <th class="text-start">Username</th>
                <th class="text-start">Password</th>
                <th class="text-start"></th>
            </tr>
            </thead>
                <tbody>
                    {% for item in list %}
                    <tr id="{{ item.id }}" name="tbody-row">
                        <td class="text-start" name="domain-cell">{{ item.domain}}</td>
                        <td class="text-start" name="username-cell">
                            <div class="container mx-0 px-0" style="position:relative">
                                <input class="form-control mb-0 mx-auto w-auto" name="username-field" type="text" value="{{ item.username }}" readonly>
                                <button class="btn" name="copy-button-username" title="Copy to clipboard" style="right:0%; position: absolute;">
                                    <img src="../static/images/clipboard.svg" alt="Copy to clipboard" name="clipboard-username">
                                </button>
                            </div>
                        </td>
                        <td class="text-start" name="password-cell">
                            <div class="container mx-0 px-0">
                                <input class="form-control mb-0 mx-auto w-auto" name="password-field" type="password" value="{{ item.hash }}" readonly>
                                <button class="btn" name="visibility" title="Show">
                                    <img src="../static/images/eye.svg" alt="Show" name="eye">
                                </button>
                                <button class="btn" name="copy-button-password" title="Copy to clipboard">
                                    <img src="../static/images/clipboard.svg" alt="Copy to clipboard" name="clipboard-password">
                                </button>
                            </div>
                        </td>
                        <td name="utility-cell">
                            <button class="btn" name="edit-button" role="button">
                                <img src="../static/images/pencil.svg" alt="Edit" name="pencil">
                            </button>
                            <button class="btn" name="delete" title="Delete">
                                <img src="../static/images/trash3.svg" alt="Delete">
                            </button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            <tfoot>
                <tr>
                    <td class= "border-0 text-end" colspan="6"><button class="btn btn-light" id="add" title="Add" data-bs-toggle="modal" data-bs-target="#add-password-modal">
                        <img src="../static/images/plus-square.svg" alt="Add">
                    </button></td>
                </tr>
            </tfoot>
        </table>
    </div>

    <!-- Modal for adding a password -->
    <div class="modal fade" id="add-password-modal" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
            <h1 class="modal-title fs-5" id="ModalLabel">Add a new password</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="/" method="post">
                    <div class="mb-3">
                        <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="domain" name="domain" placeholder="Domain" type="text" style="display:inline-block">
                    </div>
                    <div class="mb-3">
                        <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="username" name="username" placeholder="Username" type="text" style="display:inline-block">
                    </div>
                    <div class="mb-3">
                        <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="password" name="password" placeholder="Password" type="password" style="display:inline-block">
                    </div>
                    <div class="form-check mb-3">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" style="float:none";>
                        <label class="form-check-label" for="flexCheckDefault">
                            Show password
                        </label>
                    </div>
                    <button class="btn btn-primary btn-sm" type="submit">Confirm</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
