{% extends "layout.html" %}

{% block title %}
    Quote
{% endblock %}

{% block main %}
    <h1>Get a Stock Quote</h1>
    <div class="mb-3">
        <form action="{{url_for('quote')}}" method="post">
            <label for="symbol">Symbol</label>
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="symbol" name="symbol"
                    placeholder="Symbol" type="text">
            <button class="btn btn-primary" type="submit">Get Quote</button>
        </form>
    </div>
    {%if quote%}
        <h3>{{quote['name']} ({{quote['symbol']}})</h3>
        <p>Price : {{ quote['price']|usd}}</p>
    {% endif %}
{% endblock %}
