{% extends "layout.html" %}

{% block scripts %} <script src="/static/change_password.js"></script> {% endblock %}

{% block title %} Change Password {% endblock %}

{% block main %}
    <form action="/change_password" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="previous_password" name="previous_password" placeholder="Previous pasword" type="password">
        </div>
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="new_password" name="new_password" placeholder="New Password" type="password">
        </div>
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="confirmation" name="confirmation" placeholder="Confirm new password" type="password">
        </div>
        <div class="form-check mb-3">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" style="float:none";>
            <label class="form-check-label" for="flexCheckDefault">
                Show password
            </label>
        </div>
        <button class="btn btn-primary" type="submit">Change Password</button>
    </form>
{% endblock %}
